# Node modules
node_modules/

# Next.js build output
.next/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*

# OS files
.DS_Store
Thumbs.db

# Optional: ignore stats.json if you don't want to commit data
# stats.json
